@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-color-primary: #fff;
    --font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    cursor:pointer;
}

body {

    background-color: black;
    color: var(--font-color-primary);
    font-family: var(--font-family);
}
/* HEADER - BANNER */

header {
    height: 600px;
    border-bottom: 1px solid #31A8DD;
}

.banner {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(9, 125, 175, 0.1)),
    url('assets/images/banner.png')  no-repeat center/cover;
    background-size: cover;
    width: 100%;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    padding: 20px 0;
    width: 250px;
    height: 200px;
}

.logo {
    margin: 30px 0 0 0;
    padding: 10px;
    width: 250px;
    height: 250px;
    background-color: rgba(66, 66, 66, 0.247);
    border-radius: 50%;
}

.banner-content h1 {
    text-transform: uppercase;
    background: linear-gradient(rgba(51,168,219,1) 0%, rgba(20,114,183,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 40px;
    padding: 20px;
}

.banner-content p {
    width: 520px;
    font-size: 20px;
    text-align: justify;
    word-spacing: 0.8px;
}

.banner-content button {
    margin-top: 30px;
    width: 20%;
    height: 60px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    text-transform: uppercase;
    background: transparent;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #3BA1CD, #1572B7);
    border-image-slice: 1;
    color: var(--font-color-primary);
    font-weight: bold;
    font-size: 15px;
    background: linear-gradient(rgba(51,168,219,1) 0%, rgba(20,114,183,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* MAIN - course-content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    border-bottom: 1px solid #31A8DD;
}

.course-information {
    width: 80%;
}

.course-information h2 {
    text-align: center;
    padding: 40px 0 0;
    text-transform: uppercase;
    color: #33A8DB;
    font-size: 30px;
    letter-spacing: 3px;
}

.course-information p {
    text-align: center;
    margin: 20px;
    font-size: 17px;
}

.modules-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.module {
    width: 450px;
    padding: 15px;
    border: 2px solid #33A8DB;
    border-radius: 20px;
    background-color: #252525;
    font-size: 15px;
    text-align: center;
}

.module span {
    color: #33A8DB
}

/*MAIN - transform-world*/

#transform-world {
    width: 100%;
    height: 40%;
    background: url('assets/images/woman-code.png') no-repeat center/cover;
    background-attachment: fixed;
    border-bottom: 1px solid #31A8DD;
}

#transform-world p {
    padding: 10% 10%;
    width: 240px;
    text-transform: lowercase;
    font-size: 40px;
    font-weight: bold;
    filter: drop-shadow(2px 2px #33A8DB);
}

/*MAIN - professional-challenges*/
#professional-challenges {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0;
    align-items: center;
    border-bottom: 1px solid #31A8DD;
}

#professional-challenges h2 {
    text-align: center;
    width: 800px;
    font-size: 30px;
    font-weight: 600;
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#professional-challenges img {
    width: 40%;
    margin-top: 50px;
}

#professional-challenges p {
    font-size: 16px;
    width: 800px;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
}

/*FOOTER*/
footer {
    margin-top: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(9, 125, 175, 0.1));
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

footer p {
    font-weight: 100;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: #31A8DB;
}